body{
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
	font-weight: bolder;
}
.container{
	margin: 1% auto;
}
.col-lg-3 , .col-lg-4{
	padding: 15px;
	border: 1px solid #377;
}
.col-lg-4{
	min-height: 200px;
}
.col-lg-3{
	min-height: 120px;
}
.col-lg-3:hover , .col-lg-4:hover{
	background-color: rgba(0,0,0,0.1);
}
.row{
	margin: 30px auto; 
}
.fa{
	font-size: 60px;
	color: #299;
}
.col-lg-4 > div{
	font-size: 28px;
}
.col-lg-3 > div{
	font-size: 22px;
}
.col-lg-3 > h3{
	color: #299;
}

